.grid {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  background-color: bisque;
  position: absolute;
  bottom: 0;
}

.row {
  display: flex;
  height: 100%;
}

.fog {
  width: 100%;
  height: 100%;
  border: 1px solid #0f0505;
}

.occupied {
  width: 100%;
  height: 100%;
  border: 1px solid #e00e31;
}

.empty {
  width: 100%;
  height: 100%;
  border: 1px solid #926912;
}

.user {
  background-color: rgb(21, 255, 0);
  width: 100%;
  height: 100%;
}
